database_config:
  mongo:
    host: "localhost"
    port: 27017
    db: "github"
    collection: "snakemake"
  neo4j:
    host: "localhost"
    port: 7687
    username: "neo4j"
    password: "your_password"
    db_name: "neo4j"

database:
  engine: neo4j

git_provider: "github"
git_provider_token: "xxxxxxxxx"
search_start_date: "2025-01-01"
search_end_date: "2025-02-19"
search_interval: "m"
search_query: "snakemake workflow in:readme archived:false"
result_dir: "results"

snakemake-catalog-urls:
  blacklist: https://raw.githubusercontent.com/snakemake/snakemake-workflow-catalog/main/blacklist.txt
  skips: https://raw.githubusercontent.com/snakemake/snakemake-workflow-catalog/main/skips.json
