database_config:
  mongo:
    host: "localhost"
    port: 27017
    db: "github"
    collection: "snakemake"
  neo4j:
    host: "localhost"
    port: 7687
    user: "neo4j"
    password: "your_password"
    db_name: "neo4j"

database:
  engine: neo4j

gh_search_start_date: "2024-01-01"
gh_search_end_date: "2024-02-05"
gh_search_interval: "m"
gh_search_query: "snakemake workflow in:readme archived:false"
result_dir: "results"

